<!-- slider -->
        <div class="slider">
            <div class="owl-carousel owl-one owl-theme">
                <!-- item -->
                <div class="item">
                    <div class="slider-img">
                        <img src="assets/images/slider_1.jpg" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="slider-captions">
                                    <h1 class="slider-title">Get travel website template</h1>
                                    <a href="#" class="btn btn-primary">Get Template</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.item -->
                <!-- item -->
                <div class="item">
                    <div class="slider-img"><img src="assets/images/slider_2.jpg" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="slider-captions">
                                    <h1 class="slider-title">Travel air agency Website template</h1>
                                    <a href="#" class="btn btn-primary">Download Template</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.item -->
                <!-- item -->
                <div class="item">
                    <div class="slider-img"><img src="assets/images/slider_3.jpg" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="slider-captions">
                                    <h1 class="slider-title">Get tourism website template</h1>
                                    <a href="#" class="btn btn-primary">View Packages</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.item -->
            </div>
        </div>
        <!-- /.slider -->
        <!-- enguiry-form -->
        <div class="bg-default enquiry-form ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <!-- form -->
                        <form>
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-3 col-12">
                                    <div class="form-group">
                                        <label class="control-label sr-only" for="select"></label>
                                        <div class="select">
                                            <select id="select" name="city" class="form-control">
                                                <option value="">Where you want to go</option>
                                                <option value="">Singapore</option>
                                                <option value="">Thailand</option>
                                                <option value="">Vietnam</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-3 col-12">
                                    <div class="form-group">
                                        <label class="control-label sr-only" for="datepicker"></label>
                                        <div class="input-group">
                                            <input id="datepicker" name="datepicker" type="text" placeholder="Date" class="form-control" required>
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-3 col-12">
                                    <div class="form-group">
                                        <label class="control-label sr-only" for="select"></label>
                                        <div class="select">
                                            <select id="select" name="select" class="form-control">
                                                <option value="">Number of Peoples</option>
                                                <option value="">6</option>
                                                <option value="">10</option>
                                                <option value="">25</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-12 col-md-6 col-sm-3 col-12">
                                    <button type="submit" name="singlebutton" class="btn btn-primary btn-lg">Enquiry Now</button>
                                </div>
                            </div>
                        </form>
                        <!-- /.form -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.enguiry-form -->
        <!-- tour-service -->
        <div class="space-medium">
            <div class="container">
               
            </div>
        </div>
        <!-- /.tour-service -->
        <!-- destination-section -->
        <div class="space-medium">
            <div class="container-fluid">
                <div class="row">
                    <!-- section-title -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="section-title">
                            <h2>Top Destinations</h2>
                        </div>
                    </div>
                    <!-- /.section-title -->
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 nopl nopr">
                        <!-- destination-section -->
                        <div class="destination-block">
                            <div class="desti-img">
                                <img src="assets/images/destination_1.jpg" alt="">
                                <a href="#" class="desti-title">Singapore</a>
                                <div class="overlay">
                                </div>
                                <div class="text">
                                    <h3 class="mb20 text-white">Singapore</h3>
                                    <ul class="angle list-none">
                                        <li>4 Nights / 3 days</li>
                                        <li>3 Star hotel</li>
                                        <li>Breakfast and Dinner</li>
                                    </ul>
                                    <p class="price">$1599</p>
                                    <a href="#" class="btn-link">Go for Singapore <i class="fa fa-angle-right"></i></a></div>
                            </div>
                        </div>
                        <!-- /.destination-section -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 nopl nopr">
                        <!-- destination-section -->
                        <div class="destination-block">
                            <div class="desti-img">
                                <img src="assets/images/destination_2.jpg" alt="">
                                <a href="#" class="desti-title">Thailand</a>
                                <div class="overlay">
                                </div>
                                <div class="text">
                                    <h3 class="mb20 text-white">Thailand</h3>
                                    <ul class="angle list-none">
                                        <li>5 Nights / 4 days</li>
                                        <li>3 Star hotel</li>
                                        <li>Breakfast and Dinner</li>
                                    </ul>
                                    <p class="price">$2599</p>
                                    <a href="#" class="btn-link">Go for Thailand <i class="fa fa-angle-right"></i></a></div>
                            </div>
                        </div>
                        <!-- /.destination-section -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 nopr nopl">
                        <!-- destination-section -->
                        <div class="destination-block">
                            <div class="desti-img">
                                <img src="assets/images/destination_3.jpg" alt="">
                                <a href="#" class="desti-title">Vietnam</a>
                                <div class="overlay">
                                </div>
                                <div class="text">
                                    <h3 class="mb20 text-white">Vietnam</h3>
                                    <ul class="angle list-none">
                                        <li>6 Nights / 5 days</li>
                                        <li>3 Star hotel</li>
                                        <li>Breakfast and Dinner</li>
                                    </ul>
                                    <p class="price">$4599</p>
                                    <a href="#" class="btn-link">Go for Vietnam <i class="fa fa-angle-right"></i></a></div>
                            </div>
                        </div>
                        <!-- /.destination-section -->
                    </div>
                    <!-- destination-section -->
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 nopr nopl">
                        <div class="destination-block">
                            <div class="desti-img">
                                <img src="assets/images/destination_4.jpg" alt="">
                                <a href="#" class="desti-title">Melbourne</a>
                                <div class="overlay">
                                </div>
                                <div class="text">
                                    <h3 class="mb20 text-white">Melbourne</h3>
                                   
                                        <ul class="angle list-none">
                                        <li>4 Nights / 3 days</li>
                                        <li>3 Star hotel</li>
                                        <li>Breakfast and Dinner</li>
                                    </ul>
                                    <p class="price">$2599</p>
                                    <a href="#" class="btn-link">Go for Melbourne <i class="fa fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.destination-section -->
                </div>
            </div>
        </div>
        <!-- /.destination-section -->
        
        
        
        <!-- /.client-section -->
        <div class="space-small">
            <div class="container">
                <div class="row">
                    <!-- client-logo -->
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                        <div class="client-logo">
                            <a href="#"><img src="assets/images/dummy_logo_1.png" alt=""></a>
                        </div>
                    </div>
                    <!-- /.client-logo -->
                    <!-- client-logo -->
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                        <div class="client-logo">
                            <a href="#"> <img src="assets/images/dummy_logo_2.png" alt=""></a>
                        </div>
                    </div>
                    <!-- /.client-logo -->
                    <!-- client-logo -->
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                        <div class="client-logo">
                            <a href="#">  <img src="assets/images/dummy_logo_3.png" alt=""></a>
                        </div>
                    </div>
                    <!-- /.client-logo -->
                    <!-- client-logo -->
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                        <div class="client-logo">
                            <a href="#"><img src="assets/images/dummy_logo_4.png" alt=""></a>
                        </div>
                    </div>
                    <!-- /.client-logo -->
                    <!-- client-logo -->
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                        <div class="client-logo">
                            <a href="#"> <img src="assets/images/dummy_logo_2.png" alt=""></a>
                        </div>
                    </div>
                    <!-- /.client-logo -->
                    <!-- client-logo -->
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                        <div class="client-logo">
                            <a href="#">  <img src="assets/images/dummy_logo_1.png" alt=""></a>
                        </div>
                    </div>
                    <!-- /.client-logo -->
                </div>
            </div>
        </div>
        <!-- /.client-section -->